
header{
    background-color: rgb(50, 84, 235);
}

.titulo{
    font-family: serif;
}
.menu{
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
}

#container{
    padding: 20px;
}

#conteudo{
    line-height: 1.5;
}

p{
    color: green;
}

button{
    background-color: blue;
    color: aliceblue;
}

form {
    border: 1px solid gray; /* Borda sólida de 1 pixel na cor cinza */
    padding: 20px; /* Padding interno de 10 pixels */
}

.rodape{
    border-top: 2px solid red;
}